* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  color: black;
  background-image: url(clinic_photos/clinic_logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}
.header{
  width:100%;
  height:80px;
  display:block;
  background-color: #7E8282  ;
}
.inner_header{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.logo_container{
  height: 100%;
  display: table;
  float: left;
}
.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: fantasy;
  font-size: 23px;
}
.navigation{
  float: right;
  height: 100%;
}
.navigation li a{
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: fantasy;
  font-size: 14px;
  position: relative;
}
.navigation li a::after{
    content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top:46px;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  }


    .navigation li a:hover::after{
      -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;

    }
.navigation li a span{

}
.navigation a:last-child{
  padding-right: 0;
}
.navigation li{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 40px;
}

.contact-title{
  margin-top: 100px;
  color: black;
  text-transform: uppercase;
  transition: all 4s ease-in-out
}

.contact-form form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
  background: grey;
  width: 50%;
}
.contact-form .form-control{
  width: 600px;
  background: goldenrod;
  border: none;
  outline: none;
  border-top: 1px solid black;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}
